{% extends "blog/master.html" %}

{% block title %}Our Blog{% endblock %}

{% block content %}
    {% for post in posts %}    
            <h3 style ="font-family:Code-Bolt; margin-top: 30px;        "><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
            <p class="small">Published {{ post.publish }} by {{ post.author }}</p>
            <p>{{ post.body|truncatewords:100|linebreaks }}</p>

    {% endfor %}
    

{% endblock %}
{% block side %}
<div class ="col-md-4">
        <h2 style="text-align: right; margin-top: 20px; margin-right:20px;color:black;font-family:Code-Bolt;">Recent Posts</h2>
        {% for post in posts %}
          <p class="medium" style ="text-align: left;  margin-left: 110px; margin-right:20px;font-family:Code-Bolt;"> 
            <a href="{{ post.get_absolute_url }}">{{post.title}} << {{post.publish.month}}, {{post.publish.day}} ,  {{post.publish.year}};  </a></p>
        {%endfor%}
</div>
{% endblock %}